@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #070011;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
}
.globe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.btn-updated{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
  font-weight: 400;
  font-size: 18px;
}
.aside-1{
  .currency-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    img{
      height: 50px;
    }
    h1{
      font-weight: 400;
      font-size: 40px;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
